/* style sheet */


body {
  font-family: "Manrope", sans-serif;

}
/* header style */
.header{
    background: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: top right;
    display: flex;
    margin: 0;
    justify-content: end;
   background-size: cover;

}
.header-div{
    width: 600px;
    
    align-items: center;
    
}
 
.header-div{
    text-align: right;
    padding: 180px 200px 200px ;
    
    
}
.header-description{
    text-align: right;
}
.btn-primary{
    text-align: right;
    padding: 35px 70px;
    border-radius: 7px;
    background: #F15B22;
    border: none;
    color: white;
    font-size: 20px;
}
p.header-description {
    font-size: 18px;
    color: #474747;
}
h3.headding-title {
    font-size: 80px;
    font-family: arial;
    margin-bottom: 21px;
    text-shadow: -4px 2px 5px #404040;
}
/* main style */
.main-list-item{
    font-size: 18px;
    color: #474747;
    list-style: none;
}
.contenar-parent-div
{
    display: flex;
    padding-top:150px; 
    padding-left: 350px;
    align-items: center;
    gap: 200px;
}
.main-contenar-image{
    /* max-width: 200px !important; */
    padding-left:  !important;
}
.main-contenar-list{
    /* max-width: 200px !important; */
    /* padding: 226px !important; */
    /* padding-top: 50px !important; */
    width: 400px;
   
}
.main-list-item>li>img{
    width: 20px;
    
    
}
.main-contenar-descripsion,.main-list-item {
    color: #474747;
    
}
.main-contenar-title {
    font-size: 50px;
    
    margin-bottom: 20px;
}
.main-list-item>li, .main-contenar-descripsion  {
    line-height: 30px;
}
 
/* main plans style */
.plans-parent-div{
    padding: 100px;
    
}
.my-plans{
    text-align: center;
    font-size: 50px;
    /* margin-bottom: 20px; */
}
.img-list-item>li{
 list-style: none;
 display: inline;
 

}
.ul-contenar-div {
    display: flex;
    justify-content: center;
}
.img-list-item>li>img {
   
    margin: 0px 120px 1px 120px;
}
.plans-titl>li{
    margin: 0px 115px 0px 84px;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.plans-title-parent-div, .larnig-time-parent-div{
    display: flex;
    justify-content: center;
    margin: 0px;

}
.plans-titl, .larning-time-list{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
 .larning-time-list li{
    /* margin: 0px 95px 0px 108px; */
    margin: 0px 94px 0px 129px;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #474747;
 }
 .main-image-div-parent {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    background-image: url('/images/watch.png');
    background-repeat: no-repeat;
    
}
.image-watch-div{
    background-image: url('/images/gradient2.png');
    background-repeat: no-repeat;
}
.image-parent-div{
    justify-content: center;
    display: flex;
}
.image-heading-div{
    width: 1200px;
   height: 500px;
}
.image-heading-div h3 {
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    color: white;
    font-size: 45px;
    margin-bottom: 17px;
}
.image-width-div {
    width: 615px;
}
.primary-btn {
    background: white;
    color: #f15b22;
    font-size: 20px;
    font-family: bold;
    margin-left: 50px;
    font-family:'Arial Narrow Bold', sans-serif;
    border: none;
    padding: 25px 60px;
    border-radius: 7px;
   
}
/* footer style */
footer{
    background-color: #151414;
    display: flex;
    justify-content: space-between;
}

.footer-parent-div-1 {
    padding:100px 255px;
    color: white;
    width: 467px;
}
.footer-parent-div-2 h3 {
    font-size: 52px;
    margin-bottom: 0;
}
.footer-icon-list {
   
    margin-left: -41px;
}
.footer-icon-list > ul > li {
   margin-right: 15px;
    list-style: none;
}
.footer-icon-list>ul {
   
    display: flex;
}
.footer-parent-div-2 h2 {
    font-size: 37px;
    /* justify-content: center; */
}
input[type="email"] {
    padding: 20px 30px;
    border-radius: 10px;
    background: #151414;
    border: solid white;
    font-size: 19px;
    color: white;
    
}
.footer-parent-div-2 button {
    padding: 20px 36px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #F15B22;
    /* padding-top: 44px; */
    margin-top: 20px;
}